@import url('https://fonts.googleapis.com/css?family=Montserrat');
.mainbody{
    background-image: url("bg1.jpg");
    
    background-size: cover;
    background-repeat: no-repeat;
    

}
/* .div11{
    display: flex;
    margin-top: 400px;
    margin-left: 400px;
} */
.navbar{
    width: 70%;
    height: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: auto;
   
}
.ul1{
  line-height: 70px;
  float: right;
}
.list{
    margin: 20px ;
    text-decoration: none;
    color: rgb(247, 247, 247);
}
.list:hover{
  background-color: #FFD504;
  color: rgb(3, 3, 3);
  border-radius: 4px;
  padding: 5px 9px;
  transition: 0.4s;
  
}
.wardhan{
  line-height: 100px;
    list-style: none;
    color: aliceblue;
    font-size: larger;
    float: left;
}
.harsgwardhan{
    border-radius: 4px;
    font-size: larger;
    background-color: #FFD504;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    text-align: center;
    display: table;
    padding: 6px 28px;
    
}

 
  .icon{
    margin: auto;
     
      text-align: center;
      
  }
  .fa {
      color: beige;
    padding: 10px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-youtube{
      background-color: rgb(219, 23, 23);
      color: white;
  }
  .fa-instagram {
    background: linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color: white;
  }
  
/* 
  udte box */



    .singllef-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .single-box li {
      position: absolute;
      display: block;
      list-style: none;
      width: 25px;
      height: 25px;
      background: rgba(202, 199, 199, 0.2);
      animation: animate 20s linear infinite;
      bottom: -150px;
    }
    .single-bfox li:nth-child(1) {
      left: 86%;
      width: 80px;
      height: 80px;
      animation-delay: 0s;
    }
    .single-box li:nth-child(2) {
      left: 12%;
      width: 30px;
      height: 30px;
      animation-delay: 1.5s;
      animation-duration: 10s;
    }
    .single-box li:nth-child(3) {
      left: 29%;
      width: 100px;
      height: 100px;
      animation-delay: 5.5s;
    }
    .single-box li:nth-child(4) {
      left: 42%;
      width: 50px;
      height: 50px;
      animation-delay: 0s;
      animation-duration: 15s;
    }
    .single-box li:nth-child(5) {
      left: 65%;
      width: 40px;
      height: 40px;
      animation-delay: 0s;
    }
    .single-box li:nth-child(6) {
      left: 15%;
      width: 110px;
      height: 110px;
      animation-delay: 3.5s;
    }
    .single-box li:nth-child(7) {
      left: 75%;
      width: 200px;
      height: 200px;
      animation-delay: 4.5s;
      bottom: -250px;
    }
    @keyframes animate {
      0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
      }
      100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
      }
    }

/* text deco */
.maincontent{
  transform: translateY(140px);
}

    .title {
      padding-top: 20px;
      font-size: 100px;
      color: beige;
      margin: auto;
      font-family: "Montserrat";
      color: #FFF;
      text-align: center;
      letter-spacing: 1px;
    }
    
    h1 {
      background-image: url(rainbow-scroll.gif);
      background-size: cover;
      color: transparent;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      
      font-size: 120px;
      line-height: .75;
      margin: 10px 0;
    }
   